@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=SUSE:wght@100..800&display=swap');
/*general style*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFA500;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #e49502;
    transform: scale(1.05);
}
/* estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 100px;
    height: auto;
}

header a{
    display: inline-block;
    color: #9e9e9e;
    text-decoration: none;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: .1s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{ 
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO DO TOPO*/

section.topo-site{
    padding: 40px 4%;
}

.img-topo-site img{
    width: 350px;
    height: auto;
}
section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-site h1{
    color: #fff;
    font-size: 42px;
}

.topo-site p{
    color: #fff;
    margin: 40px 0px;
}

.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0px;
    }
    100%{
        top: 30px;
    }
}